header {
  text-align: center;
  margin: auto;
}

#hideLanding {
  text-align: center;
  margin: auto;
}

#landing-img {
  display: flex;
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

/* need to center landing button */
#hideLanding {
  margin-top: 20px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(221, 221, 221, .5);
  border: 1px solid gray;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5%;
}
