body {
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
  margin: auto;
}

#hideLanding {
  text-align: center;
  margin: auto;
}

#landing-img {
  display: flex;
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

/* need to center landing button */
#start-button {
  padding: 7px;
  margin-top: 20px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(221, 221, 221, 0.5);
  border: 1px solid gray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5%;
}

.adopt-btn {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.buttons {
  text-align: center;
  margin: auto;
}

h2 {
  text-align: center;
  margin: auto;
}

.field {
  text-align: center;
  margin: auto;
}

.field > label {
  padding: 10px;
}

.register {
  text-align: center;
  margin: auto;
}

.line-person {
  list-style: decimal;
}

#adopt-list {
  list-style: decimal;
}
